<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sequelize</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Usuários</a></li>
            <li><a href="/users/create">Cadastrar</a></li>
        </ul>
    </nav>


    {{{body}}}


    <footer class="container-fluid text-white bg-dark">
		  <div class="row-footer pt-5 pb-5">
			  <div class="icon-todos" >
				<i class="fa-solid fa-copyright">  </i>
				<p class="text-footer">Todos os direitos reservados</p> 
			  </div>
			  <div class="info-footer ">
				<h4 class="title-footer"> Informações</h4>
				<a href="termodeuso.html"><p class="text-info">Termo De Uso </p></a>
			  </div>

			  <div class="info-footer"> 
				<h4> Fronts.me</h4>
				<a class="text-info" href="contato.html"><p > Sobre </p></a>
				<a href="contato.html"><p class="text-info">Contato</p></a>
				<a href="serviço.html"><p class="text-info" > Planos </p></a>
			  </div>

			  <div class="info-footer-redes-socias" >
				<h4  > Nossas Redes Socias</h4>
				<a href="#"><i class="fa-brands fa-facebook"></i></a>
				<a href="#"><i class="fa-brands fa-instagram"></i></a>
				<a href="#"><i class="fa-brands fa-github"></i></a>
				<a href="#"><i class="fa-brands fa-twitter"></i></a>
			  </div>


		  </div>

	  </footer>
</body>
</html>